## Pre-processing des data

1) Data cleaning

a) FBREF

In [18]:
import numpy as np
import pandas as pd
import pickle
import zlib

In [ ]:
glossary = pd.read_csv("fbref_data\\Glossaire_FBREF.csv")
glossary.head()

  Unnamed: 0                              0
0     Season                         Season
1        Age            Age at season start
2    Country  Flag and name of the country.
3       Comp                    Competition
4     LgRank    Squad finish in competition

In [ ]:
glossary.describe()

glossary.rename(columns={"Unnamed: 0" : "Name", "0" : "Description"}, inplace = True)
glossary.head()

      Name                    Description
0   Season                         Season
1      Age            Age at season start
2  Country  Flag and name of the country.
3     Comp                    Competition
4   LgRank    Squad finish in competition

In [ ]:
player_stats_fbref=pickle.loads(zlib.decompress(open('fbref_data/compressed_player_stats_fbref_1.bin','rb').read()))
player_stats_fbref.update(pickle.loads(zlib.decompress(open('fbref_data/compressed_player_stats_fbref_2.bin','rb').read())))
player_stats_fbref=pd.DataFrame(player_stats_fbref).transpose()
player_stats_fbref=player_stats_fbref.sort_index(axis=1,ascending=False)

teams_fbref=pickle.load(open('fbref_data/teams_fbref.pkl','rb'))

In [20]:
player_stats_fbref.head()

,meta,2024-2025,2024,2023-2024,2023,2022-2023,2022,2021-2022,2021,2020-2021,...,1999-2000,1999,1998-1999,1998,1997-1998,1996-1997,1995-1996,1994-1995,1993-1994,1992-1993
César Fernández,"{'height': '', 'weight': '', 'preferred foot':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yoel Lago,"{'height': '', 'weight': '', 'preferred foot':...","{'age': 20.0, 'team': 'Celta Vigo', 'country':...",NaN,"{'age': 19.0, 'team': 'Celta Vigo', 'country':...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marc Vidal,"{'height': '', 'weight': '', 'preferred foot':...","{'age': 24.0, 'team': 'Celta Vigo', 'country':...",NaN,NaN,NaN,"{'age': 22.0, 'team': 'FC Andorra', 'country':...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rui Silva,"{'height': 189.0, 'weight': 84.0, 'preferred f...","{'age': 30.0, 'team': 'Betis', 'country': 'es ...",NaN,"{'age': 29.0, 'team': 'Betis', 'country': 'es ...",NaN,"{'age': 28.0, 'team': 'Betis', 'country': 'es ...",NaN,"{'age': 27.0, 'team': 'Betis', 'country': 'es ...",NaN,"{'age': 26.0, 'team': 'Granada', 'country': 'e...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abde Ezzalzouli,"{'height': 177.0, 'weight': 73.0, 'preferred f...","{'age': 22.0, 'team': 'Betis', 'country': 'es ...",NaN,"{'age': 21.0, 'team': 'Betis', 'country': 'es ...",NaN,"{'age': 20.0, 'team': 'Osasuna', 'country': 'e...",NaN,"{'age': 19.0, 'team': 'Barcelona', 'country': ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

b)Sofascore

In [15]:
sf_data = pd.read_csv("sf_data\player_ratings.csv")
sf_data.head()

,Unnamed: 0,2024-2025,2023-2024,2022-2023,2021-2022,2020-2021,2019-2020,2018-2019,2017-2018,2016-2017,2015-2016
0,Bukayo Saka,8.04,7.36,5.97,7.67,6.43,6.04,6.25,NaN,NaN,NaN
1,Neto,9.41,7.31,4.00,7.71,7.09,6.52,8.29,7.84,8.20,8.0
2,Declan Rice,8.63,7.98,5.95,8.14,6.30,7.03,7.95,7.26,NaN,NaN
3,Gabriel Magalhães,6.70,7.86,6.00,6.66,5.56,6.68,6.00,7.12,5.89,NaN
4,Martin Ødegaard,6.95,7.14,8.25,8.36,5.79,6.51,NaN,NaN,NaN,NaN

c) Transfer market

In [68]:
player_stats_tm=pd.read_csv('tm_data/player_stats_tm.csv')
player_stats_tm.index=player_stats_tm.loc[:,'Unnamed: 0']
player_stats_tm=player_stats_tm.drop('Unnamed: 0',axis=1)

transfer_history=pickle.load(open('tm_data/transfer_history.pkl','rb'))

In [69]:
player_stats_tm.rename(columns={"Unnamed: 0" : "Player"}, inplace=1)
player_stats_tm.head()
player_stats_tm.loc["Bernardo Silva"]["market_values"]

"{'2013': 600.0, '2014': 2500.0, '2015': 15000.0, '2016': 20000.0, '2017': 40000.0, '2018': 65000.0, '2019': 100000.0, '2020': 70000.0, '2021': 75000.0, '2022': 80000.0, '2023': 80000.0, '2024': 70000.0}"

In [ ]:
def convertir_en_dictionnaire(chaine):
    chaine = chaine.strip('{}').replace(' ', '')
    paires = chaine.split(',')
    
    dictionnaire = {}
    for paire in paires:
        if ':' in paire: 
            cle, valeur = paire.split(':')
            cle = cle[1:-1] #pour envoyer les guillemets en plus sur l'année
            dictionnaire[int(cle)] = float(valeur)
    return dictionnaire

player_stats_tm['market_values']=player_stats_tm["market_values"].apply(convertir_en_dictionnaire)
player_stats_tm.head()

,positions,market_values
Unnamed: 0,,
Bernardo Silva,"['Attacking Midfield', 'Right Winger', 'Centra...","{2013: 600.0, 2014: 2500.0, 2015: 15000.0, 201..."
Ederson,['Goalkeeper'],"{2013: 300.0, 2014: 900.0, 2015: 1200.0, 2016:..."
Erling Haaland,['Centre-Forward'],"{2016: 200.0, 2017: 300.0, 2018: 5000.0, 2019:..."
Jack Grealish,"['Left Winger', 'Attacking Midfield', 'Left Mi...","{2013: 250.0, 2014: 1000.0, 2015: 4500.0, 2016..."
John Stones,"['Centre-Back', 'Right-Back', 'Defensive Midfi...","{2011: 50.0, 2012: 100.0, 2013: 3500.0, 2014: ..."

In [ ]:
transfer_history["GB1"][2023]["Manchester City"]["arrivals"]

[['Matheus Nunes', 'Wolverhampton Wanderers', 62000.0],
 ['Mateo Kovacic', 'Chelsea FC', 29100.0],
 ['James McAtee', 'Manchester City U21', '-'],
 ['Oscar Bobb', 'Manchester City U21', '-'],
 ['Taylor Harwood-Bellis', 'Southampton FC', 'End of loanMay 31, 2024'],
 ['Issa Kaboré', 'Luton Town', 'End of loanMay 31, 2024'],
 ['Issa Kaboré', 'Olympique Marseille', 'End of loanJun 30, 2023'],
 ['Josh Wilson-Esbrand', 'Cardiff City', 'End of loanMay 31, 2024'],
 ['Josh Wilson-Esbrand', 'Stade Reims', 'End of loanJan 31, 2024'],
 ['Joško Gvardiol', 'RB Leipzig', 90000.0],
 ['Claudio Terzi', 'Crystal Palace', 18500.0],
 ['João Cancelo', 'Bayern Munich', 'End of loanJun 30, 2023'],
 ['Tommy Doyle', 'Southampton', 'End of loanMay 31, 2024'],
 ['Manuel Fuster', 'Almería', 'End of loanJun 30, 2023'],
 ['Jeremy Doku', 'Paderborn 07', 60000.0],
 ['James Mcatee', 'Sheffield Utd', 'End of loanMay 31, 2024'],
 ['Slobodan Medojević', 'Crotone', 'End of loanJan 5, 2024'],
 ['Yangel Herrera', 'Girona', 'End of loanJun 30, 2023'],
 ['Tommy Doyle', 'Manchester City', '-']]

In [ ]:
import pandas as pd
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster

# Simulation des données nécessaires (vous devez remplacer ces exemples par vos données réelles)
# Exemple : localisation des clubs
club_locations = {
    "Manchester City": {"lat": 53.483959, "lon": -2.242631},
    "Wolverhampton Wanderers": {"lat": 52.590275, "lon": -2.130423},
    "Chelsea FC": {"lat": 51.481667, "lon": -0.190833},
    # Ajoutez d'autres clubs ici
}

# Exemple de DataFrame `player_stats_tm`
player_stats_tm = pd.DataFrame({
    "name": ["Bernardo Silva", "Mateo Kovacic", "Matheus Nunes"],
    "positions": [["MF", "RW"], ["MF"], ["MF"]],
    "market_values": [
        {2023: 80000.0, 2022: 75000.0},
        {2023: 29100.0, 2022: 30000.0},
        {2023: 62000.0, 2022: 40000.0},
    ]
}).set_index("name")

# Exemple de dictionnaire `transfer_history`
transfer_history = {
    "GB1": {
        2023: {
            "Manchester City": {
                "arrivals": [
                    ["Matheus Nunes", "Wolverhampton Wanderers", 62000.0],
                    ["Mateo Kovacic", "Chelsea FC", 29100.0],
                ],
                "departures": [
                    ["Player A", "Club A", 50000.0],
                    ["Player B", "Club B", 40000.0],
                ],
            }
        }
    }
}

# Étape 1 : Charger les données dans GeoPandas pour les clubs
club_df = pd.DataFrame(club_locations).T.reset_index()
club_df.columns = ["club", "lat", "lon"]
club_gdf = gpd.GeoDataFrame(
    club_df, geometry=gpd.points_from_xy(club_df["lon"], club_df["lat"])
)

# Étape 2 : Calculer la pondération des clubs par la somme des valeurs marchandes de leurs joueurs
def calculer_valeur_totale(club_name, year):
    total_value = 0
    if club_name in transfer_history["GB1"][year]:
        arrivals = transfer_history["GB1"][year][club_name].get("arrivals", [])
        player_names = [arrival[0] for arrival in arrivals]
        for player in player_names:
            if player in player_stats_tm.index:
                market_value = player_stats_tm.loc[player]["market_values"].get(year, 0)
                total_value += market_value
    return total_value

# Ajouter les valeurs pondérées au GeoDataFrame
saison = 2023  # Exemple de saison par défaut
club_gdf["total_market_value"] = club_gdf["club"].apply(
    lambda x: calculer_valeur_totale(x, saison)
)

# Étape 3 : Créer la carte interactive
m = folium.Map(location=[54.5, -2.5], zoom_start=6)

# Ajouter un cluster pour afficher les clubs
marker_cluster = MarkerCluster().add_to(m)

# Ajouter les clubs à la carte
for _, row in club_gdf.iterrows():
    folium.CircleMarker(
        location=(row["lat"], row["lon"]),
        radius=row["total_market_value"] / 10000,  # Ajustez cette pondération
        color="blue",
        fill=True,
        fill_color="blue",
        fill_opacity=0.6,
        popup=folium.Popup(f"{row['club']}: {row['total_market_value']} M€"),
    ).add_to(marker_cluster)

# Étape 4 : Ajouter les flèches des transferts
def ajouter_transferts(carte, club_name, year):
    if club_name in transfer_history["GB1"][year]:
        transfers = transfer_history["GB1"][year][club_name]
        
        # Flèches pour les arrivées
        for arrival in transfers.get("arrivals", []):
            player, from_club, value = arrival
            if from_club in club_locations:
                folium.PolyLine(
                    locations=[
                        [club_locations[from_club]["lat"], club_locations[from_club]["lon"]],
                        [club_locations[club_name]["lat"], club_locations[club_name]["lon"]],
                    ],
                    color="green",
                    weight=2,
                    tooltip=f"Arrival: {player}, {value} €",
                ).add_to(carte)
        
        # Flèches pour les départs
        for departure in transfers.get("departures", []):
            player, to_club, value = departure
            if to_club in club_locations:
                folium.PolyLine(
                    locations=[
                        [club_locations[club_name]["lat"], club_locations[club_name]["lon"]],
                        [club_locations[to_club]["lat"], club_locations[to_club]["lon"]],
                    ],
                    color="red",
                    weight=2,
                    tooltip=f"Departure: {player}, {value} €",
                ).add_to(carte)

# Ajouter les transferts pour tous les clubs
for club in club_gdf["club"]:
    ajouter_transferts(m, club, saison)

# Afficher la carte
m.save("transfers_map.html")
print("Carte interactive enregistrée dans 'transfers_map.html'")